body {
  background-color: #1d3e81;
  color: #e8eff0;
  text-align: center;
}
img {
  width: 50%;
}
a {
  color: #e8eff0;
}

a.backButton {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
  text-decoration: none;
}

/* Your code here */
@media print {
  img {
    width: 100%;
    height: 100%;
  }

  body {
    background-color: white;
  }

  h1,
  p {
    color: black;
  }

  a {
    visibility: hidden;
  }
}
